package views

import t "github.com/a-h/templ"

templ Layout(title string, contents t.Component) {
    <!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8" />
            <title>{ title }</title>
            <link rel="stylesheet" href="/static/styles.css" />
        </head>
        <body>
            <main class="container">
                @contents  
            </main>
        </body>
    </html>
}

