/*barra de navegacion*/
header {
    padding: 0.3rem;
    border-bottom: 1% solid rgb(104, 12, 12);
    background-color: rgb(104, 12, 12);
    text-align: center;
}
nav {
    margin-top: 0.5rem;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    justify-content: center;
    align-content: center;
}

nav a:hover {
    color: rgb(32, 7, 7);
}

/*imagenes*/
img {
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 0%;
    box-shadow: 2px 2px 5px gray;
    width: 100%;
    height: 70%;
    overflow: hidden; 
}
.banner {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 1.5% auto;
  width: 80%;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.banner img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}



/*body*/
body{
    background: rgb(255, 255, 255);
    margin: 0%;
}
main {
    justify-content: center; 
    align-items: center; 
}

/*estilo del titulo*/
h1 {
    color: rgb(104, 12, 12);
    font-family: 'Quicksand';
    font-weight: 350;
    text-align: center;
    font-size: 450%;
    margin: 2% auto;
}
h2 {
    color: rgb(31, 31, 31);
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    text-align: center;
    font-size: 300%;
    margin: 2% auto;
}
h3{
    color: rgb(104, 12, 12);
    font-size: 140%;
    }
h4 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}
h5 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 100%;
    margin-top: -2%;
    margin-bottom: 2%;
    font-family: "Montserrat", sans-serif;
}


/*parrafos*/
p {
    text-align: center;
    color: rgb(0 0 0);
    
}

/*contenedor de las obras*/
hr{
    color: rgb(104, 12, 12);
}
#contenedor-obras {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    gap: 10%;
    width: 90%;
    margin: 3% auto;
}
.shadowbox {
    width: 100%;
    margin: 0%;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 2%;
    background-color: #f8ece5;
    display: inline-block;
    vertical-align: top;
    justify-content: center; 
    align-items: center; 
}

/*botones*/
button {
    padding: 3%;
    background-color: rgb(104, 12, 12);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.5px;
}
button:hover {
    background-color: rgb(59, 4, 4);
}
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px; 
  justify-content: flex-start;
  width: 25px;
  height: 25px;
}

input[type="checkbox"] {
transform: scale(1.3);
}




/*formularios*/
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 3% auto;
    gap: 0.5rem;
}

label {
    grid-column: 1 / 2;
    text-align: left;
    padding-right: 5%;
}

input {
    grid-column: 2 / 3;
    padding:1%;
    border: 1px solid #ccc;
    border-radius: 3%;
    background-color: #eeebe9; 
}

input:focus {
    border-color: rgb(104, 12, 12);
    outline: none;
} 


/*Pagina update*/
.actualizar-container {
justify-content: center; 
    width: auto; 
    margin: 3% auto; 
}


.columna-lista {
    background-color: #680c0c;
    padding: 1.5%; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.subtitulo-seccion {
    font-size: 170%;
    font-weight: bold;
    margin-bottom: 15px;
    color: #f8ece5;
}

.lista-scroll {
    max-height: 420px;
    overflow-y: auto;
    padding-right: 10px;
}

.tarjeta-obra {
    background: #ffffff;
    padding: 0.001%;
    border-radius: 5px;
    margin-bottom: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-left: 5px solid #7c3026;
}


.formularioUpdate {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 3% auto;
    gap: 0.5rem;
}